:root {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    gap: 0;
    appearance: none;
    --backgroundcolor: rgb(229, 228, 231);
    --contentwidth: 65vw;
    --contentmargin: 37px;
    --buttoncolor: rgb(94, 90, 107);
}

:root > * {
    font-size: 16px;
    margin: 0;
    padding: 0;
    gap: 0;
}

:root:focus {
    border: none;

}

.container {
    display: flex;


}

.container > * {
    /* border: red solid 2px; */

}

.picdiv {
    background-image: url("https://images.unsplash.com/photo-1663618666238-be45806fdb1a");
    /* background-size: 100vmax; */
    width: calc(100% - var(--contentwidth));
    height: 100vh;
    overflow: hidden;
    display: block;
    /* flex: 0, 1, 1; */
}

.pictext {
    display: flex;
    position: relative;
    top: 200px;
    color: var(--backgroundcolor);
    text-align: center;
    align-items: center;   
    justify-content: center; 
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 200px;
    font-size: 30px;

}

.contentdiv {
    width: clamp(500px, var(--contentwidth), 100vw);
    height: 100vh;
    background-color: var(--backgroundcolor);
    display: flex;
    flex-direction: column;

}

.topcontent {
    /* border: red solid; */
    display: flex;
    flex-direction: column ;
    justify-content: flex-end;
    /* align-items: baseline; */
    height: 25vh;
    margin: 20px;
    margin-left: var(--contentmargin);
    margin-right: 50px;
    font-weight: bold;

}

.topcontent p {
    height: auto;
    font-weight: bold;
}

.midcontent {
    display: flex;
    justify-content: flex-start ;
    align-items: flex-start;
    background-color: rgb(255, 255, 255);
    height: 280px;
    align-content: center;
    box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.1);
    padding-left: var(--contentmargin);
}

.botcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: auto;
    margin: var(--contentmargin);
    font-size: .8rem;
}

.button {
    background-color: var(--buttoncolor);
    color: var(--backgroundcolor);
    border: rgb(255, 255, 255) solid 0px;
    border-radius: 8px;
    height: 35px;
    width: 130px;
    font-size: 1rem;
    overflow: hidden;
    margin-top: 50px;

}

td {
    padding: 10px;
    width: 250px;
    /* border: green solid; */
    line-height: .2rem;
}

form {
    appearance: none;
    border: none;

}

input {
    border: rgb(218, 218, 218) solid 1px;
    border-radius: 5px;
    box-shadow: 0px 7px 5px -8px rgba(0,0,0,0.3);
    height: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}

label {
    line-height: 0;
    margin: 0px;
}

input:active {
    border: rgb(0, 255, 34) solid 2px;
}

.req::after {
    color: rgb(255, 96, 96);
    font-size: 1em;
    content: "*";
}


